body {
  text-align: center;
  background: url("images/chicago-skyline.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  
}

p {
  font-size: 56px;
  //font-family: 'Libre Franklin', sans-serif; 
  font-family: 'Poiret One', cursive;
  color: #f24524;
  padding-top: 30px;
  //background-color: red;
}
#fieldsOfInput {
  //background-color: red;

}
input {
  border: 0;
  margin-top: 250px;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  //background-color: #bdb8e3;
  background-color: #212122;
  color: red;
  font-family: 'Poiret One', cursive;
}

input[type="submit"] {
  background: #1b1045;
  //background: #eca74c;
  color: white;
  font-family: 'Poiret One', cursive;

}

footer {
  margin: 0 auto;
  padding-top: 100px;
  font-family: 'Poiret One', cursive;
  //color: #f24524;
}

  @media (max-width: 500px) {
        p {
          font-size: 46px;
          color: white;
          padding-top: 50px;
          padding-bottom: 100px;
        }
        input {
          border: 0;
          margin-top: 120px;
          padding:3px 3px 3px 3px;
          font-size: 16px;
          //background-color: #bdb8e3;
          background-color: #212122;
          color: #f24524;
          font-family: 'Poiret One', cursive;
        }

        input[type="submit"] {
          //background: #1b1045;
          //background: #eca74c;
          background: red;
          color: white;
          font-family: 'Poiret One', cursive;
        }
        footer {
          margin: 0 auto;
          padding-top: 80px;
          font-family: 'Poiret One', cursive;
          color: red;
        }
      }

